*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #000;
    
}

nav{
    li{
        a:hover{
            background-color: black;
            border-radius: 5px;
        }
    }
}

main{
    width: 100%;
}
.fondoImage{
    background-image: url("../assets/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.fondoLogin{
    width: 80%;
    padding: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    border: solid 3px black;
    border-radius: 30px;
}


.fondoPeliculas{
    height: 100%;
    background-image: url("../assets/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(100%);
    text-align: center;
    border: solid 3px black;
    
}

.seccionFormulario{
    width: 100%;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieSection{
    width: 100%;
    height: 1000px;
    padding: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    border: solid 3px white;
    border-radius: 30px;
}

th{
    border-radius: 8px;
    border: solid 3px black;
    
    
}

.buscadorPrincipal{
    background-color:#000;
}
.separator {
    height: 0.2rem; /* Grosor de la línea */
    background-color:#000;
    width: 20%;
  }
  .separator > div{
    background-color: grey;
    width: 80%;
    height: 100%;
    margin: auto;
  }

/* --------------- */

.peliculas-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;

}
.peliculas{
    display: flex;
    justify-content: center;
    gap:60px;
    
}


.pelicula{
    width:200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.pelicula:hover{
    box-shadow: 0 0 50px 10px #198754;;
    transform: scale(0.9);
 }

.pelicula >.imgTendencia{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}

.tituloPelicula{
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    
}
.tituloPelicula:hover{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(6,6,6,0.9529061624649859) 0%, rgba(6,6,6,0.7988445378151261) 100%);
}

.tituloPelicula > h4 {
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    transition: opacity 0.5s ease-in-out;

}

.tituloPelicula > h4:hover {
    width: 100%;
    padding: 0.5rem;
    opacity: 1;
}







/* ------------------- */
footer{
    padding: 2rem 0;
}

footer>nav>ul{
        margin: 0;
        font-size: 0.75rem;
    }
   
footer >nav>ul> li{
        list-style: none;
    }
    
li> a{
        color: #ffffff;
        text-decoration: none;
}
    


.flechaArriba{
        position: fixed;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
        color: #ffffff;
}
        









@media only screen and (min-width: 576px) and (orientation: portrait) {
    
    nav>div{
        padding: 0 30px;
    }
}



@media only screen and (min-width: 1080px) and (orientation: landscape){
    nav>div{
        padding: 0px;
        max-width: 1100px;
    }

    main > *:not(:first-child){
        max-width: 1100px;
    }
}